<h1>Users#show</h1>
<p>hello<%= current_user.name %></p>
<p>sum_score:<%= sum_score(current_user.id) %></p>
<p>sum_complete:<%= sum_complete(current_user.id, 1) %></p>
<p>complete:<%= check_complete(current_user.id, 4) %></p>
<p>level:<%= check_score(current_user.id, 1) %></p>
<%= link_to 'ranking', users_path %>
<%= link_to 'profile', edit_user_registration_path %>
<% @topics.each do |topic| %>
  <li>
    <div>
      <%= link_to topic.title, topics_show_path(id: topic.id) %>
    </div>
  </li>
  <%= form_for(current_user.progressions.find_by(topic_id: topic.id), html: { method: :delete }) do |f| %>
    <%= hidden_field_tag :topic_id, topic.id %>
    <%= f.submit 'delete' %>
  <% end %>
  
<% end %>

<% @questions.each do |question| %>
  <li>
    <div>
      <%= link_to question.theme, questions_show_path(id: question.id) %>
    </div>
  </li>
  <%= form_for(current_user.results.find_by(question_id: question.id), html: { method: :delete }) do |f| %>
    <%= hidden_field_tag :question_id, question.id %>
    <%= f.submit 'delete' %>
  <% end %>
  
<% end %>